*{
box-sizing: border-box;
font-family: Arial,sans-serif;

}
body{
    margin: 0%;
    padding: 0%;
    position: relative;
}
.nav-page:hover{
    border: 1px solid white;
}
.logo-image{
    max-height: 50px;
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}
body{
    margin: 0%;
    padding: 0%;
    position: relative;
}
.search-container {
    background-color: red;
    width: 100%;
    display: flex;
    height: 40px;
    justify-content: space-between;
    border-radius: 3px;
    overflow: hidden;
}

.search-container:hover {
    outline: 3px solid orange;
}

.search-select {
    width: 60px;
    border: none;
    background-color: rgb(230, 227, 227);
}

.search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 3px;
    font-size: 1.1rem;
}

.search-icon {
    width: 50px;
    background-color: rgb(235, 160, 94);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #000;
}
.w-600px{
    width: 600px;
 
}
.navv{
    background-color: #232f3e;
    white-space: nowrap;

}
#allbtn{
    cursor: pointer;
}
.big{
    position: absolute;
    z-index: 1;
    overflow: hidden;
}
.panel{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 2;
    display: none;
    color: #000000;


    /* background-color:rgb(217, 210, 210); */
    /* opacity: 1; */
    /* display: flex; */

}
.w-80{
    width: 80%;
    margin: 0 auto;
}
.panalpartone25{
    height: 100%;
    overflow-y: scroll;
    width: 20%;
    background-color: #fff;
    position: relative;
    animation-name: example;
    animation-duration: .2s;
}
@keyframes example {
    0%   { width: 0%;}

    100% {width: 20%;}
  }
.panalparttow75{
    /* display: inline-block; */

    width: 80%;
    background-color: #000000;
    opacity: 0.8;   
}
.test{
    background-color: #000;
    color: rgb(255, 255, 255);
   
    background-color:#052e36;
}


.search-container {
    background-color: red;
    width: 100%;
    display: flex;
    height: 40px;
    justify-content: space-between;
    border-radius: 3px;
    overflow: hidden;
}

.search-container:hover {
    outline: 3px solid orange;
}

.search-select {
    width: 60px;
    border: none;
    background-color: rgb(230, 227, 227);
}

.search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 3px;
    font-size: 1.1rem;
}

.search-icon {
    width: 50px;
    background-color: rgb(235, 160, 94);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #000;
}
.w-600px{
    width: 600px;
 
}
.navv{
    background-color: #232f3e;
    white-space: nowrap;

}

.third-nav nav-link {
    font-size: 12px;
}

.fa-angle-left,
.fa-angle-right {

    color: black;
}

.carousel-control-prev,
.carousel-control-next {
    font-size: 1.1rem;
    box-sizing: border-box;

}
.relatedItemsTitle {
    color: #007185;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Exo', sans-serif;

}
.relatedItemsTitle:hover {
    cursor: pointer;
    color: #da651f;
    text-decoration: underline;

}
.checkedStar {
    color: #da651f;
}
.badge,
.card-title,
.card-subtitle {
    font-weight: 800;
    font-size: 12px;
}
/* footer */
:root {
    --first-footer-color: #232f3e;
    --second-footer-color: #131A22;
    --greyT-decoration-color: #999;
}


.signinbtn {
    background: linear-gradient(to bottom, #f7dfa5, #e6ab16);
    display: inline-block;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
}

.start-here:hover {
    color: red;
}

/* Back To top Footer */
.back-top {
    background-color: #37475a;
    border-radius: 0 !important;
}

.back-top:hover {
    background-color: #505b68;
}

/* first footer section css start*/
.first-footer-sec {
    background-color: var(--first-footer-color);
}

.footer-column {
    font-weight: 700;
    font-size: 1rem;
    white-space: nowrap;
    padding-top: 50px;
}

.footer-ul {
    text-align: revert;
    list-style-type: none;
}

.footer-link {
    color: white;
    text-decoration: none;
}

.footer-link:hover {
    color: white;
    text-decoration: underline;
    text-decoration-line: #999;
}

.footer-li {
    margin: 0 0 6px;
}

.footer-line {
    border-top: 1px solid #3a4553;
    margin-top: 40px;
}

.amazon-footer-logo-area .icons .border {
    border: solid 0.1em #848688 !important;
    display: flex;
    text-align: center;
    justify-content: center;
}

.amazon-footer-logo-area .icons p {
    height: 0.4rem;
}

.amazon-footer-logo-area .icons .english {
    margin-top: -0.33rem;
}

/*second footer section css start */
.second-footer-sec {
    background-color: var(--second-footer-color);
}

.footer-section-column {
    font-size: 0.8rem !important;
    line-height: 1rem;
}

.footer-section-column a,
.footer-section-column span {
    text-decoration: none;
}

.footer-section-column a:hover,
.footer-section-column span:hover {
    text-decoration: underline;
    text-decoration-color: var(--greyT-decoration-color);
}

.second-title-footer {
    font-size: 0.7rem;
    line-height: 1rem;
    color: var(--greyT-decoration-color);
    text-decoration: underline;
}

.first-title-footer {
    color: white;
}

.card-title{
    font-size: 17px;
    font-weight: 600;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .transform-x{
        transform: translateY(-30px);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .transform-x{
        transform: translateY(-50px);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .transform-x{
        transform: translateY(-100px);
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .transform-x{
        transform: translateY(-150px);
    }
}

